# ===== Foldery danych: zachowaj strukturę, ignoruj zawartość =====
data/**
!data/**/
!data/**/.gitkeep

preprocessed/**
!preprocessed/**/
!preprocessed/**/.gitkeep

results/**
!results/**/
!results/**/.gitkeep

# ===== Typy plików ignorowane wszędzie =====
*.jpg
*.jpeg
*.png
*.ps
*.pdf
*.mat
*.fig
*.nii
*.nii.gz
*.FSAVERAGE

# ===== MATLAB =====
*.asv
*.autosave
*.m~
*~
*.mex*
*.p
*.slxc
*.slx
*.mdl

# ===== Python =====
.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.pt
*.pth
*.ckpt
*.h5
*.npy
*.npz
*.pkl

# ===== Inne =====
toolboxes/
~$*